/*--------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    /*visibility: hidden;*/
}


/*--------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------------*/

/*-------Colors----------*/
/* Orange: #e67e22 */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0; /*used to create space between sections*/
}

.box {
    padding: 1% /*spacing out grid class cols without modifying grid source code */
}
/*----- HEADINGS -----*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after { /*pseudo class that creates a nice line after h2*/
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

/*----- PARAGRAPHS -----*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /*trick to center it. specifying width will uncenter it but you can split remainder to margins*/
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*----- ICONS -----*/
.icon-big {
    font-size: 400%;
    display: block;
    color: #e67e22;
}

/*----- BUTTONS -----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/*--------------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; /*moves the box on the page relative to its top left corner*/
    left: 50%;
    transform: translate(-50%, -50%); /*corrects for fact that top and left attr pertain to top left corner of box*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;

}


/*--------------------------------------------------------*/
/* FEATURES */
/*--------------------------------------------------------*/

.section-features .long-copy { /*adjusts the bottom margin of the features paragraph wo affecting all long copy p*/
    margin-bottom: 30px;
}


/*--------------------------------------------------------*/
/* MEALS */
/*--------------------------------------------------------*/

.section-meals {
    padding: 0; /*don't want padding from section parent*/
}
.meals-showcase {
    list-style: none; /*affects the bullet points*/
    width: 100% /*makes this entire browser width*/
}

.meals-showcase li {
    display: block; /*very important you'll notice were using it all the time*/
    float: left; /* makes them side by side*/
    width: 25%; /*list has 100% width, we want 4 elements side by side so each li element is 1/4*/
}

.meal-photo {
    width: 100%; /*has full width of parent, which is meal-showcase li*/
    margin: 0; /*overrides normalize.css margins*/
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%; /*ensures photo is as wide as container*/
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}


/*--------------------------------------------------------*/
/* HOW IT WORKS */
/*--------------------------------------------------------*/

.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right; /* text align works for all inline block elements, including the img*/
    padding-right: 3%; /*using % insted of px bc we want this to be responsive */
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    /*display: inline-block; /*ensure element doesnt force a line break so # can beside text*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left; /*apparently this makes display inlline block obsolete*/
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}